@import "utils/variables";
@import "utils/mixin";
@import "utils/space";
@import "utils/typography";
@import "utils/animation";
@import "utils/global";
@import "utils/theme";
@import "utils/theme-light";
@import "utils/hover";


@import "components/line";
@import "components/preloader";
@import "components/scroll";
@import "components/button";
@import "components/button-animation";
@import "components/title";
@import "components/menu";
@import "components/modal";
@import "components/cursor";
@import "components/progress";
@import "components/counter";
@import "components/cta";
@import "components/switcher";

@import "elements/index";

@import "layout/header";
@import "layout/offcanvas";
@import "layout/awards";
@import "layout/about";
@import "layout/project";
@import "layout/service";
@import "layout/blog";
@import "layout/default-blog";
@import "layout/footer";

@import "layout/artist";
@import "layout/photographer";
@import "layout/dancer";
@import "layout/electrician";
@import "layout/yoga-trainer";

// @import "layout/lawyer";
// @import "layout/fashion-designer";
// @import "layout/digital-marketer";
// @import "layout/content-writer";
// @import "layout/developer";
// @import "layout/product-designer";
// @import "layout/freelancer";
// @import "layout/architect";
// @import "layout/writer";
// @import "layout/social-influence";
// @import "layout/doctor";
// @import "layout/athletic";
// @import "layout/film-maker";
// @import "layout/content-creator";
// @import "layout/motivational-speaker";
// @import "layout/health";
// @import "layout/event-planner";
// @import "layout/interior-designer";
// @import "layout/dentist";
// @import "layout/resume";
// @import "layout/travel";
// @import "layout/chef";
// @import "layout/barber";
// @import "layout/singer";